<!DOCTYPE html>
<html>
  <head><title>Heroku</title></head>
  <body>
    <h1>¡Si esto no se ve algo anda mal despues lo arreglo! Saludos desde Heroku</h1>
    <button onclick="location.href='https://multiplatform-production.up.railway.app'">Ir a Railway</button>
    <button onclick="location.href='https://shark-app-az7mh.ondigitalocean.app'">Ir a DigitalOcean</button>
    <button onclick="location.href='https://hola-mundo-v.vercel.app/'">Ir a Vercel</button>
  </body>
</html>
  
  <style>
    body {
      background-color: #f0f0f0;
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 50px;
    }
    h1 {
      color: #333;
    }
    button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
